@import "share.css";
/* Start Hero Banner Style */
.hero-banner {
  position: relative;
  /* background-color: #004380; */
  height: 800px;
}
.hero-banner .container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.videowrap {
  width: 100%;
  height: 800px;
  position: absolute;
  overflow: hidden;
}
.hero-banner .container {
  position: relative;
  text-align: center;
  justify-content: center;
}
.hero-banner .hero-info {
  text-align: center;
  padding: 10px 0;
  color: white;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}
.hero-banner .hero-info h1 {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 2;
  color: #000;
}
.hero-banner .hero-info .btn {
  margin: 30px 0px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  border-color: transparent;
}
/* End   Hero Banner Style */

/* Start What we do Style */
.services {
  background-color: #eee;
  padding: var(--section-padding) 0;
  text-align: center;
}

.services .txt h3 {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  color: var(--lightblue-color);
}
.services .txt p {
  color: #777;
}
.services .service {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  /* background-color: pink; */
}
.services .service .serv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.services .service .serv i {
  color: var(--lightblue-color);
}
.services .service .serv h3 {
  font-weight: 800;
  margin: 30px 0;
}
.services .service .serv p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
.services .service .serv span {
  display: block;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: count-up 3s linear;
  -webkit-animation: count-up 3s linear;
}
@keyframes count-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* End   What we do Style */

/* Start Features Style */
.features {
  /* background-color: #eee; */
  padding: var(--section-padding) 0;
}
.slider-container {
  background-color: #009688;
  margin: 10px auto;
  /* width: 400px; */
  height: 350px;
  position: relative;
}
.slider-container .col {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1s;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
}
.slider-container img {
  max-width: 100%;
  height: 100%;
}
.features .col blockquote {
  display: none;
}
.features h3 {
  text-align: center;
  font-weight: 800;
  margin: 0;
  font-size: 40px;
  color: var(--lightblue-color);
}
.slider-container .col.active {
  opacity: 1;
}
.slider-container .slide-number {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  z-index: 2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.slider-controls {
  display: flex;
  justify-content: space-between;
}
.slider-controls .prev,
.slider-controls .next {
  background-color: var(--lightblue-color);
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  user-select: none;
  width: 20%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.slider-container .indicators {
  width: 80%;
}
.slider-controls .prev.disabled,
.slider-controls .next.disabled {
  background-color: #0043807d;
  cursor: no-drop;
}

.slider-controls .indicators ul {
  padding: 0;
  list-style: none;
  margin: 0;
  text-align: center;
}
.slider-controls .indicators ul li {
  display: inline-block;
  background-color: #eee;
  color: var(--lightblue-color);
  font-weight: bold;
  height: 28px;
  width: 28px;
  border-radius: 4px;
  margin: 0 2px;
  line-height: 28px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.slider-controls .indicators ul li.active {
  background-color: var(--lightblue-color);
  color: #fff;
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border: 2px solid var(--lightblue-color);
  animation-name: open;
  animation-duration: var(--main-duration);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.modalHeader {
  background: var(--lightblue-color);
  padding: 15px;
  color: #fff;
  font-size: 13px;
}

.modalBody {
  padding: 10px 20px;
  background: #fff;
}

.features .closeM {
  float: right;
  font-size: 30px;
  color: #fff;
}

.features .closeM:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* End   Features Style */

.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 100%;

  /* background-image: url(../assets/images/t.png); */
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);

  background-size: 30px 30px;
}
/* Start Carousel  */
.carousel {
  background-color: #eee;
  padding: var(--section-padding) 0;
}
.carousel .container {
  margin: 10px auto;
}
.carousel .container h3 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
  font-size: 40px;
  color: var(--lightblue-color);
}
.carousel .container .all {
  /* background-color: aqua; */
  text-align: center;
  position: relative;
  padding: 10px;
}

.prevC,
.nextC {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: var(--lightblue-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.prevC.disabled,
.nextC.disabled {
  display: none;
}
.prevC {
  left: 0;
}
.nextC {
  right: 0;
}
.itemsC {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px 30px;
}
.itemC {
  padding: 7px;
  margin: 10px;
  background-color: white;
  display: none;
}
.itemC.select {
  display: block;
}
.itemC .image {
  position: relative;
  overflow: hidden;
}
.itemC img {
  max-width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.itemC .image:hover img {
  transform: rotate(5deg) scale(1.1);
  -webkit-transform: rotate(5deg) scale(1.1);
  -moz-transform: rotate(5deg) scale(1.1);
  -ms-transform: rotate(5deg) scale(1.1);
  -o-transform: rotate(5deg) scale(1.1);
}
.indicatorsC {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.indicatorC {
  margin: 0 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--lightblue-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.indicatorC.active {
  background-color: var(--lightblue-color);
}
/* End Carousel */

/* Start Contact Style */
.contact {
  padding: 0 0;
}
.contact .container {
  padding: 80px;
  background-color: #073954;
}
.contact .cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
  align-items: center;
}
.contact .cont .col i {
  font-size: 200px;
  color: #eee;
}
.contact .cont .col2 {
  text-align: center;
}
.contact .cont input,
textarea,
.btn {
  width: 100%;
  background-color: white;
  height: 50px;
  margin-bottom: 20px;
  border-color: transparent;
  border-radius: 25px;
  padding: 10px 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.contact .cont .btn {
  background-color: white;
  color: #073954;
  font-weight: bold;
}
.contact .cont .col2 form textarea {
  min-height: 150px;
  padding: 10px 20px;
}

.contact .cont .col2 h2 {
  color: #eee;
  font-weight: bold;
}
.contact .cont .ico {
  position: relative;
}
.contact .cont .ico .iconform {
  position: absolute;
  color: #777;
  top: 15px;
  left: 20px;
}
/* End   Contact Style */

/* Tablet (768px - 1024px) */
@media screen and (min-width: 768px) {
  .hero-banner {
    position: relative;
    /* background-color: #004380; */
    height: 800px;
  }
  .hero-banner .container {
    position: unset;
    display: flex;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  .hero-banner .container {
    position: relative;
    justify-content: flex-start;
  }
  .hero-banner .hero-info {
    text-align: left;
    /* background-color: yellow; */
  }
  .hero-banner .hero-info h1 {
    font-size: 60px;
  }
  .services .service {
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc((720px - 60px) / 4), 1fr)
    );
  }
  .modalHeader {
    font-size: 20px;
  }
  .modalContent {
    width: 40%;
  }
  .contact {
    background-color: #073954;
    padding: var(--section-padding) 0;
  }
  .contact .container {
    padding: 80px;
    background-color: #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .contact .cont .col2 form .btn {
    background-color: #073954;
    color: white;
  }
  .contact .cont .col i {
    color: #073954;
  }
  .contact .cont .col2 {
    text-align: left;
  }
  .contact .cont .col2 h2 {
    color: #073954;
  }
}

/* Large screens (1025px and above) */
@media screen and (min-width: 1025px) {
}
