@import "share.css";
body {
  font-family: "Poppins", sans-serif;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  top: -1px;
  height: 50px;
  width: 100%;
  background-image: -webkit-gradient(
    radial,
    50% 100%,
    25,
    50% 100%,
    45,
    from(transparent),
    color-stop(0.49, transparent),
    color-stop(0.51, #eee),
    to(#eee)
  );
  background-size: 60px 100%;
}
.hero-banner {
  background-image: -webkit-linear-gradient(80deg, #eee 20%, #004380a1 100%);
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.hero-banner .row {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-banner .row h1 {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  margin: 1rem 0;
  line-height: 1.2;
  color: #1c1c1c;
  font-size: 40px;
}

.hero-banner .row .info {
  display: inline-flex;
  font-size: large;
}
.hero-banner .row .info p {
  margin: 0;
}
.hero-banner .row .info .dash {
  padding: 0 0.5rem;
}
.hero-banner .row .info a {
  color: var(--darkblue-color);
}

/* Start product detail page */
.pdp .container {
  padding: 25px 15px;
  margin-bottom: 50px;
}
/* Row */
.pdp .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.pdp .row .col {
  margin: 0;
  flex: 0 0 100%;
  margin-bottom: 50px;
}
.product-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Carsoul */
.product-img .carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.carousel .carousel-item {
  height: 100%;
  display: none;
}
.carousel .carousel-item.active {
  display: block;
}
.carousel .carousel-item img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-style: none;
}
.carousel .carousel-item img:hover {
  transform: translant(-50%, -50%) scale(2);
  -webkit-transform: translant(-50%, -50%) scale(2);
  -moz-transform: translant(-50%, -50%) scale(2);
  -ms-transform: translant(-50%, -50%) scale(2);
  -o-transform: translant(-50%, -50%) scale(2);
}
.carousel .nextC,
.carousel .prevC {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #ffffffad;
}

.carousel i {
  color: var(--darkblue-color);
}
.carousel .nextC {
  right: 0;
}
.carousel .prevC {
  left: 0;
}

/* Secondcarousel  */
.product-img .second-carousel {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.product-img .second-carousel .carousel-item-two {
  width: calc(100% / 8);
  height: 50px;
  border: 2px solid black;
  margin-right: 5px;
  cursor: pointer;
}
.product-img .second-carousel .carousel-item-two:last-child {
  margin-right: 0;
}
.product-img .second-carousel .carousel-item-two.active {
  opacity: 0.2;
}
.product-img .second-carousel .carousel-item-two img {
  width: 100%;
  height: 100%;
}
.product-details {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-details h3 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  color: #1c1c1c;
  color: var(--darkblue-color);
}
.product-details .productPrice {
  color: #febb19e0;
  margin-top: 15px;
}
.product-details p {
  color: #6f6f6f;
  font-size: 16px;
  line-height: 1.7;
  margin-top: 10px;
}
.product-details .quan {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}
.product-details .quan .inputs {
  width: 130px;
  margin-right: 1rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.btn {
  color: #212529;
  background-color: #febb19e0;
  border-color: #febb19e0;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 16px;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
}
.btn:hover {
  color: white;
}
.btn.disabled {
  pointer-events: none;
}
.inputs input {
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
  text-align: center;
  background-color: #edf1ff;
  border: 1px solid #edf1ff;
}
.add i {
  margin-right: 5px;
}

/* End product DETAIL page */

/* Tablet (768px - 1024px) */
@media screen and (min-width: 768px) {
  .container {
    max-width: 850px;
  }
  .pdp .row .col {
    flex: 0 0 49%;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1100px;
  }
}
/* pdp zoom */
.zoom {
  display: flex;
  flex-direction: row;
}
.first,
.second {
  width: 500px;
  height: 500px;
  border: 3px solid #1c1c1c;
  background: url("../assets/children/10.jpg");
  background-size: 100% 100%;
}
.first {
  margin-left: 50px;
  position: relative;
  overflow: hidden;
}
.second {
  margin-left: 50px;
  display: block;
}
#lens {
  width: 150px;
  height: 150px;
  background: rgb(0, 0, 0, 0.4);
  position: absolute;

  border: 3px solid #1c1c1c;
  transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
